<!DOCTYPE html>
<html>
<head>
<title>About</title>

<style>
body {
    font-family: Arial;
    background: #f2f2f2;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 30px;
    border-radius: 15px;
}

a {
    display: block;
    margin-top: 20px;
    background: #2196F3;
    color: white;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}
</style>
</head>

<body>

<div class="card">
    <h2>ℹ️ About</h2>
    <p>Lumiere App ni application ya wallet ikoreshwa mu kohereza no kwakira amafaranga.</p>
    <p>Irimwo features nka wallet, transactions, mining na security.</p>

    <a href="/dashboard/{{ user.username }}">⬅ Back to Dashboard</a>
</div>

</body>
</html>
