<!DOCTYPE html>
<html>
<head>
<title>Confidentialité</title>
<style>
body {font-family: Arial; background:#f2f2f2; text-align:center;}
.card {background:white; padding:20px; margin:30px; border-radius:15px;}
a {display:block; margin-top:20px; background:#9C27B0; color:white; padding:12px; border-radius:10px; text-decoration:none; font-weight:bold;}
</style>
</head>

<body>
<div class="card">
<h2>🔒 Confidentialité</h2>
<p>Your data is protected.</p>

<a href="/dashboard/{{ user.username }}">⬅ Back</a>
</div>
</body>
</html>
