<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<style>
body {font-family: Arial; background:#f2f2f2; text-align:center;}
.card {background:white; padding:20px; margin:30px; border-radius:15px;}
a {display:block; margin-top:20px; background:#4CAF50; color:white; padding:12px; border-radius:10px; text-decoration:none; font-weight:bold;}
</style>
</head>

<body>
<div class="card">
<h2>📞 Contact Us</h2>
<p>+257 68020947</p>
<p>+257 62240275</p>
<p>Email: ndayishimiyealfred64@gmail.com</p>

<a href="/dashboard/{{ user.username }}">⬅ Back</a>
</div>
</body>
</html>
